/* global  */

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* body  */

body {
  background: rgb(236, 234, 240);
}

/* header  */
header {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  display: block;
  font-size: large;
  color: rgb(75, 75, 192);
  font-family: pacifico;
  font-size: x-large;
}

header .menu-icon {
  display: none;
}

.logo-search {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search input {
  flex-basis: 50%;
  height: 1.7rem;
  width: 100%;
}

.logo-search h1 {
  flex-basis: 40%;
}

.left-bar {
  flex-basis: 25%;
  display: flex;
  justify-content: space-around;
}

.sign-flex {
  /* flex-basis: 30%; */
  display: flex;
  gap: 0.7rem;
  border-radius: 3px;
}

.sign-flex:hover,
.kart-flex:hover {
  color: blue;
}

/* nav-bar  */

nav {
  position: initial;
  top: 3rem;
  left: 0;
  margin: 3rem auto 1.5rem auto;
  display: block;
  background: white;
  width: 90vw;
}

nav ul {
  padding-left: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li a {
  color: black;
}

nav li {
  list-style: none;
  padding: 1rem 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item img {
  width: 64px;
  height: 64px;
}

.nav-item img:hover {
  width: 65px;
  height: 65px;
}

/* container  */
.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(226, 240, 240);
}

.searched-header,
.electronics-header,
.jewelery-header,
.mens-clothing-header,
.womens-clothing-header {
  height: 15vh;
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
}

.entry {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: blue;
  padding-top: 0.3rem;
  padding-left: 0.6rem;
  color: white;
  font-weight: 600;
}

.entry:hover {
  background: white;
  color: blue;
}

/* article */
.electronics-inside,
.jewelery-inside,
.mens-clothing-inside,
.womens-clothing-inside,
.searched-inside {
  width: 85vw;
  display: flex;

  flex-wrap: wrap;
  /* background: white; */
}

.container h2 {
  font-weight: 600;
  font-size: 2rem;
}

.single-article {
  flex-basis: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background: white;
  padding: 2rem 1rem;
  border-radius: 5px;
  margin: 1rem 0.5rem;
}

.single-article img {
  width: 15vw;
  height: 25vh;
}

.single-article img:hover {
  width: 15.5vw;
  height: 25.5vh;
}

.single-article p {
  padding: 0 1rem;
}

/* show -product  */

.show-product {
  display: flex;
  justify-content: space-around;
  background: white;
  position: absolute;
  top: 14rem;
  display: none;
  gap: 3rem;
  padding: 5rem;
}

.show-product .info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.show-product .info h3 {
  font-size: 2rem;
}

.show-product img {
  flex-basis: 30%;
  height: 45vh;
  width: 20vw;
  border-right: 05px solid rgb(101, 139, 117);
}

.show-product .rating {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.show-product .rating .star {
  background: #388e3c;
  padding: 0.2rem;
  border-radius: 5px;
}

.show-product count {
  color: #878787;
}

.show-product .price {
  font-size: larger;
  font-weight: 900;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #878787;
}

.description p {
  color: black;
}

.loader-error {
  display: flex;
  justify-content: center;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #34db42;
  width: 30px;
  height: 30px;
  margin: 8rem 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* new user  */

.newUser {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: white;
  padding: 0 2rem;
}

.newUser .signUp {
  color: blue;
  cursor: pointer;
}

.showError {
  display: flex;
  justify-content: center;
}

.showError p {
  margin: 5rem auto;
}

.noDisplay {
  display: none;
}

.noDisplay {
  display: none;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
  .electronics-section {
    margin-top: 5rem;
  }
  .single-article {
    flex-basis: 45%;
  }
  .logo-search input {
    display: none;
  }
  .show-product {
    flex-direction: column;
    padding: 3rem;
  }
  .show-product img {
    flex-basis: 30%;
    height: 45vh;
    width: 70vw;
    border-right: 05px solid rgb(101, 139, 117);
  }
}
