/* sign in  */

.signInWindow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-form {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  padding: 2rem;
  margin-top: 5rem;
}

#auth-form input[type="submit"] {
  align-self: center;
  width: 100%;
  padding: 0.4rem 0;
  background: #191d88;
  color: white;
}

.auth form input[type="submit"]:hover {
  background: linear-gradient(90deg, rgb(113, 113, 199), rgb(190, 86, 86));
  width: 55%;
}
