/* sign in  */

.signUpWindow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signUpForm {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: white;
    padding: 2rem;
    margin-top: 5rem;
}

#subBtn {
    align-self: center;
    width: 100%;
    padding: 0.4rem 0;
    background: #191d88;
    color: white;
}

#signUpForm p {
    color: red;
}
.noDisplay {
    display: none;
}
